*{
    padding: 0px;
    margin: 0px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    flex-wrap: flex;
    left: 0;
    right: 0;

    
  }
  .fa:hover {
      opacity: 0.8;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  .fa-instagram {
    background:#3f729b;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  